<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<div class="well" style="text-align: center;">
  <h2>Get involved</h2>
</div>
<div class="row">
    <div class="col-md-4" style="text-align: center;">
      <i class="fa fa-users fa-4x" aria-hidden="true"></i>
      <h3>Join us</h3>
      <form action="mailto:frederic.chalmel@inserm.fr" method="post" enctype="text/plain">
        <button ng-click="(0)" type="btn" class="btn btn-success btn-large">Join us</button>
      </form>
      <p><br><br>Please do not hesitate to contact us if you want to share your expertise and to contribute to the TOXsIgN development with new toxicogenomic datasets or tools.</p>

    </div>
    <div class="col-md-4" style="text-align: center;">
      <i class="fa fa-envelope fa-4x" aria-hidden="true" ></i>
      <h3>Contact us</h3>
      <form action="mailto:frederic.chalmel@inserm.fr" method="post" enctype="text/plain">
        <button ng-click="(0)" type="btn" class="btn btn-success btn-large">Contact us</button>
      </form>
      <p><br><br>Whether you’re looking for answers, would like to solve a problem, or just want to let us know how we did, you’ll find many ways to contact us right here. We will do our best to resolve your issues.</p>

    </div>

</div>
