<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


<h1><i class="fa fa-download"></i>        Statistics</h1>

<h3>Data</h3>
<table class="table table-bordered table-hover table-striped">
    <tr>
      <th>Projects</th>
      <th>Studies</th>
      <th>Experimental conditions</th>
      <th>Signatures</th>
      <th>Species</th>
      <th>Tissue</th>
      <th>Chemical</th>
    </tr>
    <tr>
        <td>{{project_nb}}</td>
        <td>{{study_nb}}</td>
        <td>{{expcond_nb}}</td>
        <td>{{signature_nb}}</td>
        <td>{{species_nb}}</td>
        <td>{{tissue_nb}}</td>
        <td>{{chemical_nb}}</td>
    </tr>
</table>

<h3>Signatures information</h3>
<table class="table table-bordered table-hover table-striped">
    <tr>
      <th ng-repeat="key,value in chemical_spe">{{key}}</th>
    </tr>
    <tr>
        <th ng-repeat="key,value in chemical_spe">{{v}}</th>
    </tr>
</table>


<h3>TOXsIgN data</h3>
